body {
    background: url('/static/img/theplace_pattern.png');
    background-position: fixed;
    background-attachment: fixed;
}

a {
    color: #66C0CD;
    text-decoration: none;
}

a:hover {
    color: #96cda2;
    text-decoration: none;
}

.container {
    color: #EF5E7B;

}

h2 {
    color: #EF5E7B;
    text-align: center;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

.jumbotron {
    margin: 40px;
    margin-top: 70px;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #EF5E7B;
}