{% extends 'base.html' %}


{% load static %}

{% block head %}
    {{ block.super }}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>THIS MUST BE THE PLACE</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/sweetalert.css' %}">
    <link rel="stylesheet" href="{% static 'css/get_restaurant_styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">



{% endblock head %}

{% block content %}
    {{ block.super }}

    <div id="fullscreen_bg" class="fullscreen_bg">
        <div class="container">
            <div class="jumbotron">
            <div class="header">
                <img src="/static/img/theplace_logo.png" alt="logo" class="img-responsive center-block">
                <br><br>
            </div>
                <br>
                <div class="input">
                    <form id="form" method="post" autocomplete="on">
                        {% csrf_token %}

                        <label class="control-label" for="formGroupInputLarge"><span
                                class="glyphicon glyphicon-globe"></span> What is your location?</label>
                        <input id="location" class="form-control input-lg" placeholder="City, State/Country or Address"><br><br>
                        <label class="control-label" for="formGroupInputLarge"><span
                                class="glyphicon glyphicon-cutlery"></span> What are you in the mood for?</label>
                        <input id="cuisine" list="cuisines" class="form-control input-lg"
                               placeholder="Mexican, Thai, Italian, etc.">
                        <datalist id="cuisines">
                            <option value="Mexican">
                            <option value="Italian">
                            <option value="Japanese">
                            <option value="Chinese">
                            <option value="Barbeque">
                            <option value="French">
                            <option value="Pizza">
                            <option value="Thai">
                            <option value="Indian">
                            <option value="Middle Eastern">
                            <option value="Cocktails">
                            <option value="Spanish">
                            <option value="Soul Food">
                            <option value="Sushi">
                            <option value="Ethiopian">
                            <option value="Vietnamese">
                            <option value="American">
                            <option value="Frozen Yogurt">
                            <option value="Ice cream">
                            <option value="Vegetarian">
                            <option value="Vegan">
                            <option value="Gluten-free">

                        </datalist>
                        <br><br>
                        <div class="form-group">
                            <label for="radius"><span class="glyphicon glyphicon-map-marker"></span> What is your
                                maximum radius
                                (miles)?</label>
                            <select class="form-control input-lg" id="radius">
                                <option>1</option>
                                <option>5</option>
                                <option>10</option>
                                <option>15</option>
                                <option>20</option>
                                <option>25</option>
                                <option>30</option>
                            </select><br><br>
                            <div class="form-group">
                                <label for="price"><span class="glyphicon glyphicon-usd"></span> What is your price
                                    range?</label>
                                <select class="form-control input-lg" id="price">
                                    <option>$</option>
                                    <option>$$</option>
                                </select>
                                <br><br>
                                <button id="search" type="button" class="btn btn-default btn-lg" data-toggle="modal"
                                        data-target=".bs-example-modal-lg"><span class="glyphicon glyphicon-thumbs-up"
                                                                                 aria-hidden="true"></span> SUBMIT
                                </button>
                                <a href="javascript:location.reload(true)">
                                    <button id="refresh" type="button" class="btn btn-default btn-lg"><span
                                            class="glyphicon glyphicon-refresh"></span></button>
                                </a>
                                <br><br>
                                <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog"
                                     aria-labelledby="myLargeModalLabel">

                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <a id="heart" class="fa fa-heart" aria-hidden="true"></a>

                                                <button type="button" class="close"
                                                        data-dismiss="modal">&times;</button>

                                                <h1 id="name" class="modal-title"></h1>
                                            </div>
                                            <div class="modal-body">
                                                <div class="container-fluid">
                                                    <div class="col-md-8">
                                                        <img id="image" class="img img-responsive center-block" src="" alt="restaurant image">
                                                        <br><br>
                                                        <div id="review"></div>
                                                        <br><br>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div id="ratings">
                                                            <img id="rating" class="img-responsive" src="" alt="rating">
                                                        </div>
                                                        <br>
                                                        <div id="address"></div>
                                                        <br>
                                                        <div id="phone"></div>
                                                        <div id="website" style="display: none">
                                                            <a id="web" href="" target="_blank">Visit Website</a>
                                                        </div>
                                                        <br><br>
                                                        <div id="googleMap" style="display: none"></div><br><br>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">

                                                    <button id="next" type="button" class="btn btn-default">Next
                                                    </button>
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">
                                                        Close
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="blank" style="display: none"></div>
                                    <div id="blank2" style="display: none"></div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!-- Script Tags -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD64gDwd84RCIDl3eNnpmzsvPD8u2u_UpY&libraries=places&callback=getMap"
            async defer></script>
    <script type="text/javascript" src="{% static 'js/get_restaurant.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/sweetalert.min.js' %}"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="dist/sweetalert.min.js"></script>



    <!-- Keys
    JS PLACES API KEY = AIzaSyD64gDwd84RCIDl3eNnpmzsvPD8u2u_UpY
    MAPS API KEY = AIzaSyCpkXptIGyLa_jIaStEFTxw3oO7Dq-nQbU
    JS MAPS API KEY = AIzaSyDfwZii7p9ZyqnlQmx8vDgq4Oh_D7h9ZvU
    -->

{% endblock content %}
